head
  title BENTO-KIT
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(meta name="description" content="Bento-kit starter pack")
  meta(meta name="author" content="kh0p")
  
  link(rel="stylesheet" href="/assets/tmp/bootstrap.css")
  link(rel="stylesheet" href="/assets/css/main.css")
 
  script(type="text/javascript" src="/assets/tmp/jquery.js")
  script(type="text/javascript" src="/assets/js/bootstrap.min.js")
  script(type="text/javascript" src="/assets/js/application.js")
